<div id="navbar">
  <div class="hamburger">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
  <div class="logo">
    <a href="/blog">BlogScape</a>
  </div>
  <ul class="nav-links">
    <li><a href="/dashboard">dashboard</a></li>
    <li><a href="/blog">blogs</a></li>
    <li><a href="/users/@{{user.username}}">profile</a></li>
    <li><a href="/auth/logout">logout</a></li>
  </ul>
</div>