<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>500 Error - BlogScape</title>
</head>
<style>
  .error {
    color: #f8f8f8;
    line-height: 1.6;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
  }

  .error h1 {
    font-size: 1.94rem;
    font-weight: 700;
    margin: 16px 0;
    letter-spacing: 0.8px;
  }

  .error p {
    font-size: 1.13rem;
  }

  .error a {
    margin: 10px 0;
    display: block;
    font-size: 1.36rem;
    font-weight: 600;
    color: #2d88ff;
  }
</style>

<body>
  {{> _header}}
  <section class="content">
    <div class="error">
      <h1>Server Error</h1>
      <p>We're sorry, something went wrong</p>
      <a href="/dashboard" class="btn">Go to Dashboard</a>
    </div>
  </section>
  {{> _footer}}

  <script src="/js/navbar.js"></script>
</body>

</html>